<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= title %></title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 75px;
      }
      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
      .container {
        max-width:1000px;
      }
      .buffer { 
        margin-top:20px;
        margin-bottom:20px;
        margin-right: 20px;
        margin-left: 20px; 
      }
      .tag { 
        margin-right: 10px;
        margin-left: 10px; 
      }
    </style>
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-fixed-top" style="background-color: #000000;">
      <div class="container">
        <a class="navbar-brand" href="#">TRIIP</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/marks">Список меток</a></li>
            <li class="nav-item"><a class="nav-link" href="/users">Список пользователей</a></li>
            <li class="nav-item"><a class="nav-link" href="/marks/new">Новая метка</a></li>
            <li class="nav-item"><a class="nav-link" href="/users/new">Новый пользователь</a></li>
          </ul>
          <ul class="navbar-nav mt-2 mt-md-0 ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin01
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="">Новый админ<span class="sr-only">(current)</span></a>
                <a class="dropdown-item" href="#">Сменить пароль<span class="sr-only">(current)</span></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container" >
      <% if flash[:notice] %>
        <p class="alert alert-success"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:error] %>
        <p class="alert alert-danger"><%= flash[:error] %></p>
      <% end %>

      
        <%= yield %>
      
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script>
    //** removes alerts after 4 seconds */
    window.setTimeout(function() {
        $(".alert").fadeTo(4500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 4000);
    </script>
  </body>
</html>