<h1>Метка</h1>
<img class="card" src="uploads/mark/image/<%= @mark.id %>/image_<%= @mark.id %>.jpg">
<p><%= @mark.car_number %></p>
<br>
<a type="button" class="btn btn-primary" href="/marks/<%= @mark.id %>/edit">Edit mark</a>