<h2>Создание метки</h2>
<br/>
<form action="/users" method="post" enctype="multipart/form-data" role="form">
  <div class="form-group">
    <label for="post_title">Имя:</label>
    <input id="mark_car_number" class="form-control" name="user[name]" type="text"  style="width=90%"/>
  </div>
  
  <div class="form-group">
    <label for="post_title">Ник:</label>
    <input id="mark_car_number" class="form-control" name="user[nick]" type="text"  style="width=90%"/>
  </div>

  <div class="form-group">
    <label for="post_title">Почта:</label>
    <input id="mark_car_number" class="form-control" name="user[email]" type="text"  style="width=90%"/>
  </div>

  <div class="form-group">
    <label for="post_title">Пароль:</label>
    <input id="mark_car_number" class="form-control" name="user[password]" type="text"  style="width=90%"/>
  </div>

  <div class="form-group">
    <label for="post_title">Пол:</label>
    <input id="mark_car_number" class="form-control" name="user[sex]" type="text"  style="width=90%"/>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Фото профиля</label>
    <input id="makr_image" name="user[image]" type="file">
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>